.category:hover {
  text-decoration: underline;
  cursor: pointer;
}

.detailsLink {
  text-decoration: none;
}

.product:hover {
  transform: scale(105%);
}

.product {
  transition: 0.3s;
}

button {
  text-decoration: none;
}
